*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
html{
	scroll-behavior: smooth;
	

	--primary-clr: #208245;
	--primary-medium-clr: #d8e9df;
	--primary-light-clr: #edfaf1;
	--bg-clr-1: #ffffff;
	--dark-heading-clr: #232d39;
	--dark-text-clr: #6c757d;
	--light-heading-clr: #efefef;
	--light-text-clr: #cecece;
}

button.btn{
	padding: 10px 18px;
	background-color: var(--primary-clr);
	color: var(--light-heading-clr);
	font-size: 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}
button.btn:hover{
	background-color: var(--light-heading-clr);
	color: var(--primary-clr);
	border: 1px solid var(--primary-clr);
}
.section-header h1{
	position: relative;
	font-size: 32px;
	letter-spacing: 1px;
	color: var(--dark-heading-clr);
	margin-bottom: 20px;
}
.section-header h1::before{
	position: absolute;
	content: '';
	width: 100px;
	height: 1px;
	left: 0;
	top: calc(100% + 5px);
	background-color: var(--dark-text-clr);
}
.section-header h1::after{
	position: absolute;
	content: '';
	width: 50px;
	height: 3px;
	left: 0;
	top: calc(100% + 4px);
	background-color: var(--primary-clr);
}
.section-header p{
	color: var(--dark-text-clr);
	margin-bottom: 40px;
	max-width: 700px;
}
/*   === Global Styling Ends ===   */
body{
	width: 100%;
	min-height: 100vh;
}
.website-container{
	width: 100%;
	max-width: 1400px;
	min-height: 100vh;
	margin: 0px auto;
}
/*   === Home Section Styling Starts ===   */
section.home{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: var(--primary-light-clr);
}
.home .main-navbar{
	position: absolute;
	width: 100%;
	max-width: 1400px;
	height: 12vh;
	max-height: 80px;
	background-color: var(--primary-clr);
	padding: 0px 8%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
.home.active .main-navbar{
	position: fixed;
	top: 0;
	margin: 0px auto;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
	animation: showMenu 0.6s ease-in;
}
@keyframes showMenu{
	from{
		transform: translateY(-100px);
	}
	to{
		transform: translateY(0px);
	}
}
.main-navbar .logo{
	text-decoration: none;
}
.main-navbar .logo img{
	width: 120px;
	height: auto;
}
.main-navbar .nav-list{
	list-style: none;
}
.main-navbar .nav-list li{
	display: inline-block;
	margin: 0px 10px;
}
.main-navbar .nav-list li a{
	position: relative;
	color: var(--light-heading-clr);
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
}
.main-navbar .nav-list li a::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background-color: var(--light-heading-clr);
	left: 0;
	top: calc(100% + 2px);
	transition: all 0.3s;
	transform: scaleX(0);
}
.main-navbar .nav-list li a:hover::after{
	transform: scaleX(1);
}
.main-navbar .get-started-btn{
	background-color: var(--light-heading-clr);
	color: var(--primary-clr);
}
.main-navbar .get-started-btn:hover{
	background-color: var(--primary-clr);
	color: var(--light-heading-clr);
	border: 1px solid var(--light-heading-clr);
}
.main-navbar .menu-btn{
	min-width: 30px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
	display: none;
}
.main-navbar .menu-btn span{
	position: relative;
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--light-heading-clr);
	border-radius: 5px;
	transition: all 0.4s;
}
.main-navbar .menu-btn span::before,
.main-navbar .menu-btn span::after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
	background-color: var(--light-heading-clr);
	transition: all 0.4s;
}
.main-navbar .menu-btn span::before{
	transform: translateY(-9px);
}
.main-navbar .menu-btn span::after{
	transform: translateY(9px);
}
.home .banner{
	width: 100%;
	min-height: 100vh;
	padding: 100px 8% 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.home .banner .banner-desc{
	position: relative;
	flex-basis: 50%;
	max-width: 700px;
	z-index: 2;
}
.banner .banner-desc h2{
	font-size: 48px;
	color: var(--dark-heading-clr);
	letter-spacing: 1px;
	line-height: 1.4;
	margin-bottom: 10px;
}
.banner .banner-desc p{
	color: var(--dark-text-clr);
	line-height: 1.4;
	margin-bottom: 50px;
}
.banner .banner-desc .search-bar{
	position: relative;
	width: 400px;
	height: 50px;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.banner-desc .search-bar input{
	width: 100%;
	height: 100%;
	padding: 0px 60px 0px 10px;
	font-size: 17px;
	letter-spacing: 1px;
	background-color: var(--primary-light-clr);
	color: var(--dark-text-clr);
	border: 2px solid #c1dbcc;
	border-radius: 5px;
	outline-color: var(--primary-clr);
}
.banner-desc .search-bar i{
	position: absolute;
	height: 100%;
	width: 50px;
	background-color: var(--primary-clr);
	right: 0;
	color: var(--light-heading-clr);
	border-radius: 0px 5px 5px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.home .banner .banner-img{
	position: relative;
	flex-basis: 50%;
	display: flex;
	justify-content: flex-end;
	z-index: 1;
}
.banner-img .banner-img-container{
	position: relative;
	width: 400px;
	z-index: 2;
}
.banner-img .banner-img-container img{
	width: 100%;
	height: auto;
}
.banner-img .banner-img-container .states{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.banner-img-container .states .total-courses{
	position: absolute;
	padding: 6px 10px 6px 6px;
	background-color: var(--light-heading-clr);
	border-radius: 5px;
	bottom: 15%;
	left: -80px;
	display: flex;
	align-items: center;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}
.states .total-courses .icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-clr);
	margin-right: 7px;
}
.states .total-courses .icon i{
	font-size: 22px;
	color: var(--light-heading-clr);
}
.states .total-courses .desc{
	display: flex;
	flex-direction: column;
}
.states .total-courses .desc span:nth-child(1){
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 2px;
}
.states .total-courses .desc span:nth-child(2){
	font-size: 15px;
	color: var(--dark-text-clr);
}
.banner-img-container .states .courses-ratings{
	position: absolute;
	width: 90px;
	height: 90px;
	padding: 10px;
	border-radius: 50%;
	background-color: var(--light-heading-clr);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 80px;
	right: 5px;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}
.states .courses-ratings span:nth-child(1){
	color: var(--dark-heading-clr);
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}
.states .courses-ratings span:nth-child(1) i{
	color: gold;
	font-size: 14px;
}
.states .courses-ratings span:nth-child(2){
	color: var(--dark-text-clr);
	font-size: 15px;
	text-align: center;
}
.banner-img .banner-img-container .pattern{
	position: absolute;
	top: 20px;
	left: -40px;
	z-index: -1;
}
.banner-img-container .pattern img{
	width: 150px;
	height: auto;
	opacity: 0.4;
}

section.partners{
	width: 100%;
	padding: 30px 8%;
	background-color: var(--primary-medium-clr);
}
.partners h3{
	margin-bottom: 40px;
	color: var(--dark-heading-clr);
	font-size: 22px;
}
.partners .partners-slider .brand-item{
	text-align: center;
	background-color: var(--light-heading-clr);
	padding: 5px;
}
.partners .partners-slider .brand-item img{
	width: 120px;
	display: inline-block;
}
.owl-carousel .owl-nav{
	position: absolute;
	right: 0;
	top: -80px;
}
.owl-carousel .owl-nav button{
	border-radius: 5px !important;
}
.owl-carousel .owl-nav .owl-prev i,
.owl-carousel .owl-nav .owl-next i{
	padding: 8px 14px !important;
	border-radius: 5px;
	font-size: 16px !important;
	background-color: var(--primary-clr) !important;
	color: var(--light-heading-clr);
	border: 1px solid transparent;
	cursor: pointer;
	transition: 0.3s;
}
.owl-carousel .owl-nav .owl-prev i:hover,
.owl-carousel .owl-nav .owl-next i:hover{
	background-color: var(--light-heading-clr) !important;
	color: var(--primary-clr);
	border: 1px solid var(--primary-clr);
}
.owl-carousel .owl-dots{
	margin-top: 20px;
}
.owl-carousel .owl-dots .owl-dot span{
	padding: 4px !important;
}
.owl-carousel .owl-dots .owl-dot.active span{
	background-color: var(--primary-clr) !important;
}

section.courses{
	width: 100%;
	padding: 100px 8% 20px;
}
.courses .section-header{
	position: relative;
	display: flex;
	justify-content: space-between;
}
.courses .section-header .courses-btn{
	position: absolute;
	right: 0;
	bottom: 40px;
	padding: 10px 26px;
}
.courses .course-contents{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.courses .course-contents .course-card{
	flex-basis: calc(calc(100% / 3) - 1.2%);
	border: 1px solid #eee;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	cursor: pointer;
	transition: all 0.3s;
}
.courses .course-contents .course-card:hover{
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.course-contents .course-card img{
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 5px;
}
.course-contents .course-card .category{
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 10px 0px;
}
.course-card .category img{
	position: absolute;
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	right: 15px;
	top: -50%;
	outline: 1px solid var(--primary-clr);
	outline-offset: 3px;
}
.course-card .category .subject{
	padding: 8px 10px;
	background-color: var(--primary-light-clr);
	border-radius: 5px;
}
.course-card .category .subject h3{
	font-size: 18px;
	font-weight: 500;
	color: var(--primary-clr);
}
.course-card .course-title{
	font-size: 20px;
	color: var(--dark-heading-clr);
}
.course-card .course-desc{
	margin: 20px 0px;
	display: flex;
	justify-content: space-between;
}
.course-card .course-desc span{
	font-size: 14px;
	font-weight: 500;
	color: var(--dark-text-clr);
}
.course-card .course-desc span i{
	color: var(--primary-clr);
}
.course-card .course-ratings{
	padding: 15px 0px 0px;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #ccc;
}
.course-card .course-ratings span{
	color: var(--primary-clr);
	font-size: 18px;
	font-weight: bold;
}
.course-card .course-ratings span:nth-child(1) i{
	color: gold;
	font-size: 14px;
}
.course-card .course-ratings span b{
	font-size: 24px;
}

section.categories{
	width: 100%;
	padding: 100px 8% 20px;
}
.categories .categories-contents{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.categories-contents .category-item{
	flex-basis: calc(calc(100% / 4) - 1%);
	background-color: var(--primary-light-clr);
	padding: 25px 15px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s;
}
.categories-contents .category-item:hover{
	box-shadow: 0px 0px 10px rgba(32, 130, 69, 0.2);
	transform: translateY(-3px);
}
.category-item .category-icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-clr);
}
.category-item .category-icon i{
	color: var(--light-heading-clr);
	font-size: 20px;
}
.category-item .category-desc{
	margin-top: 20px;
	text-align: center;
}
.category-item .category-desc h3{
	color: var(--dark-heading-clr);
	font-size: 20px;
	margin-bottom: 10px;
}
.category-item .category-desc p{
	color: var(--dark-text-clr);
	font-size: 15px;
	line-height: 1.4;
}

section.footer {
	width: 100%;
	padding: 20px 5% 10px; 
	background-color: var(--primary-clr);
  }
  
  .footer .footer-contents {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px; 
  }
  
  .footer-contents .footer-col {
	flex-basis: calc(calc(100% / 4) - 10px); 
  }
  
  .footer-contents .footer-col .col-title {
	min-height: 40px; 
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px; 
  }
  
  .footer-col .col-title h3 {
	font-size: 18px; 
	color: var(--light-heading-clr);
  }
  
  .footer-col .col-contents {
	display: flex;
	flex-direction: column;
  }
  
  .footer-col-1 .col-title img {
	width: 80px; 
  }
  
  .footer-col-1 .col-contents p {
	color: var(--light-text-clr);
	font-size: 13px; 
	line-height: 1.2; 
	margin-bottom: 8px; 
  }
  
  .footer-col-2 .col-contents .contact-row {
	margin-bottom: 8px; 
	display: flex;
	flex-direction: column;
  }
  
  .footer-col-2 .col-contents .contact-row span {
	color: var(--light-text-clr);
	font-size: 14px; 
  }
  
  .footer-col-2 .col-contents .contact-row span:nth-child(1) {
	color: var(--light-heading-clr);
	font-size: 15px; 
	font-weight: 500;
	margin-bottom: 2px;
  }
  
  .footer-col-3 .col-contents a {
	text-decoration: none;
	color: var(--light-text-clr);
	margin-bottom: 10px; 
	align-self: flex-start;
	transition: all 0.3s;
  }
  
  .footer-col-3 .col-contents a:hover {
	letter-spacing: 1px; 
  }
  
  .footer-col-4 .col-contents input {
	width: 100%;
	padding: 10px; 
	background-color: var(--light-heading-clr);
	color: var(--dark-text-clr);
	border: none;
	border-radius: 4px; 
  }
  
  .footer-col-4 .col-contents .newsletter-btn {
	background-color: var(--light-heading-clr);
	color: var(--primary-clr);
	margin-top: 10px; 
	padding: 8px 10px; 
  }
  
  .footer-col-4 .col-contents .newsletter-btn:hover {
	background-color: transparent;
	color: var(--light-heading-clr);
	border: 1px solid var(--light-heading-clr);
  }
  
  .footer .copy-rights {
	padding: 10px 0px 0px; 
	border-top: 1px solid var(--light-text-clr);
	text-align: center;
  }
  
  .footer .copy-rights p {
	color: var(--primary-light-clr);
	font-size: 12px; 
  }
  
  .footer .copy-rights p b {
	color: yellow;
  }
  

.thumb {
	position: relative;
	border-radius: 23px;
	margin-left: 7%;
  }
  
 .thumb iframe {
	border-radius: 23px;
	height: 430px;
	
  }
  
 .thumb .overlay-effect {
	background: rgb(43, 168, 5);
	background: linear-gradient(105deg, rgba(43, 168, 5) 0%, rgb(10, 111, 228) 100%);
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	border-top-left-radius: 23px;
	border-bottom-right-radius: 23px;
	padding: 35px 30px;
	text-align: center;
  }
  
 .thumb .overlay-effect h4 {
	font-size: 20px;
	margin-top: 5px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 10px;
  }
  
 .thumb .overlay-effect span {
	font-size: 15px;
	color: #fff;
  }
  
  .thumb {
	position: relative;
  }
  

.dropbtn {
	background-color: #208245; 
	color: white;
	padding: 16px; 
	font-size: 16px; 
	border: none; 
	cursor: pointer; 
	border-radius: 4px;
	transition: background-color 0.3s;
  }
  
  
  .dropbtn:hover {
	background-color: #186838;
  }
  
  
  .dropdown {
	position: relative; 
	display: inline-block;
  }
  
 
  .dropdown-content {
	display: none;
	position: absolute; 
	background-color: #f1f1f1; 
	min-width: 160px; 
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 4px; 
	overflow: hidden;
  }
  
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px; 
	text-decoration: none; 
	display: block; 
  }
  

  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  
  .dropdown.active .dropdown-content {
	display: block;
  }
  